/* INCLUDING  FONTS */

@font-face {
    font-family: 'cogni-regular';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format("woff2");
}

@font-face {
    font-family: 'cogni-medium';
    src: url(../fonts/Poppins/Poppins-Medium.ttf) format("woff2");
}

/* CUSTOM STYLES */
