/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  // padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  font-family: 'cogni-mont-regular' !important;
  div p button label {
    font-family: 'cogni-mont-regular' !important;
  }
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  //padding: 10px;
  border: 1px solid #888;
  width: 80%;

  min-height: 550px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  float: 10;
  .panel-body {
    background-color: #fff !important;
    max-height: 400px;
    // height: auto !important;
    .cwc-left {
      .bubble {
        background: #f4f2ff !important;
        border-radius: 0 15px 15px 15px;
        p {
          font-size: 12px;
        }
      }
      .diplayalign {
        border-radius: 20px !important;
        #quick_reply_btn {
          text-align: left;
          font-family: 'cogni-mont-regular' !important;
          margin-left: 5px;
          background-color: var(--white) !important;
          color: var(--modal_primary_text);
          &:hover {
            color: var(--white);
            background-color: var(--modal_primary_text) !important;
          }
          &:active {
            color: var(--white);
            background-color: var(--modal_primary_text) !important;
          }
          &:focus {
            color: var(--white);
            background-color: var(--modal_primary_text) !important;
          }
          &:before {
            color: var(--modal_primary_text) !important;
            display: inline !important;
            content: ' >   ' !important;
          }
          &:hover:before {
            color: var(--white) !important;
            display: inline !important;
            content: ' >   ' !important;
          }
        }
        ._checkbox_label {
          font-size: 12px;
          color: var(--modal_primary_text) !important;
        }
        ._checkbox_label.activeCheck {
          font-size: 12px;
          font-weight: 600;
          color: var(--modal_primary_text) !important;
        }
        .btn_trans_block {
          color: var(--modal_primary_text);
          font-family: 'cogni-mont-regular' !important;
          font-size: 12px;
          &:hover {
            background: var(--modal_primary);
            color: var(--white);
          }
        }
      }
      .chat-body {
        .responseImg {
          width: 220px;
          height: 180px;
          border-radius: 15px;
        }
      }
      .currenttime {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 10px;
        color: #ccc;
        margin-right: 10px;
      }
    }
    .cwc-right {
      .bubble {
        background: #ffffff !important;
        border-radius: 15px 0 15px 15px !important;
        border: 1px solid #c3c3c3;
        p {
          font-size: 12px;
          color: #212121 !important;
        }
      }
    }
    .cwc-borderbtn {
      font-size: 12px !important;
    }
    .contact-form {
      .form-container {
        grid-template-areas: 'name name' 'number number' 'expiration expiration';
      }
      button {
        padding: 5px !important;
        width: 120px;
        font-family: 'cogni-mont-regular' !important;
        font-size: 12px !important;
      }
    }
    .carinsurance-form {
      display: flex !important;
      flex-direction: column;
      .field-container {
        margin-bottom: 10px;
      }
      .form-container {
        grid-template-areas: 'name name' 'number number' 'expiration expiration' 'chase chase' 'engine engine' 'mortgage mortgage';
      }
      button {
        padding: 5px !important;
        width: 120px;
        font-family: 'cogni-mont-regular' !important;
        font-size: 12px !important;
      }
      .input-button {
        display: flex;
        flex-direction: row;
        position: relative !important;
        input {
        }
        button {
          position: absolute;
          right: 0px;
          width: 50px;
          background: #ccc;
          border-radius: 0 30px 30px 0 !important;
        }
      }
      .quote-card-container {
        .quote-card {
          display: flex;
          flex-direction: column;
          background: var(--modal_primary);
          color: #fff;
          font-family: 'cogni-mont-regular' !important;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          align-content: center;
          border-radius: 25px;
          height: 140px;
          margin-bottom: 25px;
          .p-text {
            font-size: 10px;
            font-family: 'cogni-mont-regular' !important;
          }
          .bold-text {
            font-size: 12px;
            font-family: 'cogni-mont-medium' !important;
          }
        }
      }
    }
    .form {
      label {
        font-family: 'cogni-mont-regular' !important;
        font-size: 12px;
      }
      input {
        padding: 5px !important;
        font-family: 'cogni-mont-regular' !important;
        font-size: 12px;
        outline: none;
        border-radius: 30px;
      }
      select {
        padding: 5px !important;
        font-family: 'cogni-mont-regular' !important;
        font-size: 12px;
        outline: none;
        border-radius: 30px;
      }
      button {
        color: var(--white);
        background: var(--modal_primary);
        padding: 5px;
        border-radius: 30px;
        font-family: 'cogni-mont-regular' !important;
        font-size: 12px;
        cursor: pointer !important;
      }
    }
    .react-calendar__tile--active {
      background: var(--modal_primary) !important;
      &:hover {
        background: var(--modal_primary) !important;
        color: #ffffff !important;
      }
    }
  }
  .back-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: var(--modal_primary);
    transition: all ease-in-out 0.3s;
    .button-container {
      display: flex;
      flex-direction: row;
      button {
        border: none;
        outline: none;
        color: var(--modal_primary);
        background: var(--white);
        padding: 5px;
        margin: 0 5px;
        border-radius: 30px;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer !important;
        width: 90px;
      }
    }
    .close-back-container {
      cursor: pointer;
      color: var(--white) !important;
    }
  }
  .panel-footer {
    // position: absolute !important;
    // bottom: 0;
    border-top: 0px !important;
    border-radius: 15px;
    .mic-chat {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      padding: 0 20px;
    }
  }
  .quick-replies #quick_reply_btn {
    background-color: var(--white) !important;
    color: var(--modal_primary_text);
    border: 1px solid var(--modal_primary_text) !important;
    &:hover {
      color: var(--white);
      background-color: var(--modal_primary_text) !important;
    }
  }
  .attachment {
    .upload-btn-wrapper {
      background: var(--white);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
    }
    .dropbox-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: var(--white);
      width: 270px;

      p {
        font-size: 8px !important;
        line-height: 15px;
        color: var(--modal_secondary_text) !important;
        padding: 2px !important;
      }
      .upload-icon {
        width: 30px;
      }
    }
  }
  .upload_btn {
    color: var(--white) !important;
    background: var(--modal_primary) !important;
    margin-bottom: 5px;
    border-radius: 30px !important;
    font-size: 12px !important;
    font-weight: normal !important;
    cursor: pointer !important;
    padding: 8px !important;
  }
}
.modal-content.minwidth {
  width: 65%;
}
.modal-content.confirmWidth {
  width: 450px;
  min-height: 385px;
  height: 385px !important;
}
.modal-left-content {
  display: flex;
  flex-direction: column;
  flex: 6;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 15px;
    .date-wrapper {
      color: #212121;
      font-size: 10px;
      display: flex;
      align-items: center;
      img {
        height: 15px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    .title {
      color: var(--modal_primary_text);
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .right-dropdown {
      position: relative;
    }
    .right-title {
      color: var(--modal_primary_text);
      font-size: 14px;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        height: 5px;
        margin-left: 5px;
        cursor: pointer;
      }
    }
    .right-title-content {
      position: absolute;
      background-color: #f9f9f9;
      min-width: 60px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      margin-right: 5px;
      top: 15px;
      left: -10px;
      display: none;

      div {
        padding: 5px;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
      }
      div:hover {
        background-color: #f1f1f1;
      }
      div.active {
        background-color: #ccc;
      }
    }

    .right-dropdown:hover .right-title-content {
      display: block;
    }
  }
  .close-container {
    position: relative;
    top: -15px;
    left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
.modal-right-content {
  display: flex;
  flex-direction: column;
  flex: 4;
  padding: 0 15px 15px 15px;
  border-left: 1px solid #ccc;
  background: #f4f2ff;
  border-radius: 0px 15px 15px 0px;
  .header-text {
    color: #212121;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .close-container {
    position: relative;
    top: -30px;
    left: 30px;
    // top: -15px;
    // left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
.modal-content-right {
  max-height: 400px;
  overflow: auto;
  padding-right: 5px;
}
.modal-chat-content {
  position: relative;
  height: 100%;
  overflow: auto;
  border-radius: 15px;
  font-family: 'cogni-mont-regular' !important;
}
.modal-content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: var(--modal_primary_text);
  padding: 10px 0;
  border-bottom: 1px solid #a8a6a6;
  text-transform: uppercase;
  img {
    cursor: pointer;
    height: 15px;
  }
}
.modal-content-header.bold {
  font-weight: bold;
}
.modal-content-text p {
  font-size: 10px !important;
  font-weight: 400;
}
.showAccordion {
  display: block;
}
.hideAccordion {
  display: none;
}

/* The Close Button */
.close-container {
  position: relative;
  top: 0px;
  left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.close-wrapper {
  background-color: var(--modal_primary_text);
  padding: 2px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  img {
    height: 15px;
    padding: 5px;
    cursor: pointer;
  }
}
.close {
  color: #aaaaaa !important;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.displayModal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

// ----------------confirm-box-----------
.confirm-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  .close-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    img {
      width: 20px;
      padding: 10px;
      cursor: pointer;
    }
  }
  .img-container {
    width: 75%;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    .botImg {
      width: 75px;
    }
  }
  .text-container {
    p {
      color: var(--modal_primary_text);
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
  }
  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 25px;
    button {
      font-size: 13px;
      font-weight: 500;
      border: none;
      outline: none;
      text-transform: uppercase;
      background-color: var(--modal_primary);
      color: #ffffff;
      padding: 10px;
      border-radius: 50px;
      min-width: 125px;
      cursor: pointer;
    }
  }
}

//----------Nice scroll

.modal-content-right::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.modal-content-right::-webkit-scrollbar {
  width: 4px;
}

.modal-content-right::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
}

@media (min-width: 320px) {
  .modal-content {
    margin: 10px;
    width: 350px;
    flex-direction: column;
    .panel-body {
      min-height: 350px;
      max-height: 350px;
    }
  }
  .modal-left-content.flex6 {
    flex: 6;
  }
  .modal-left-content.flex0 {
    flex: 0;
  }
  .panel-body.hide-body {
    display: none !important;
  }
  .panel-footer.hide-body {
    display: none !important;
  }
  .modal-content.minwidth {
    width: 100%;
  }
  .confirm-box {
    padding: 0 15px;
    .close-container {
      width: 80%;
    }
  }

  .modal-chat-content {
    height: 90%;
  }
  .modal-left-content {
    position: relative;
    .close-container {
      position: absolute;
      right: 0;
      display: flex;
    }
    .panel-footer {
      margin-bottom: 0 !important;
      .composer textarea {
        height: 55px !important;
      }
    }
  }
  .modal-right-content {
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    .close-container {
      display: none;
    }
  }
}
@media (min-width: 481px) {
  .modal-content {
    margin: 10px;
    width: 350px;
    flex-direction: column;
  }
  .modal-left-content.flex6 {
    flex: 6;
  }
  .modal-left-content.flex0 {
    flex: 0;
  }
  .modal-content.minwidth {
    width: 100%;
  }
  .confirm-box {
    padding: 0 15px;
    .close-container {
      width: 80%;
    }
  }

  .modal-chat-content {
    height: 90%;
  }
  .modal-left-content {
    position: relative;
    .close-container {
      position: absolute;
      right: 0;
      display: flex;
    }
  }
  .panel-body.hide-body {
    display: none !important;
  }
  .panel-footer.hide-body {
    display: none !important;
  }
  .modal-right-content {
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    .close-container {
      display: none;
    }
  }
}
@media (min-width: 641px) {
  .modal-content {
    margin: 10px;
    width: 350px;
    flex-direction: column;
  }
  .modal-left-content.flex6 {
    flex: 6;
  }
  .modal-left-content.flex0 {
    flex: 0;
  }
  .modal-content.minwidth {
    width: 65%;
  }
  .confirm-box {
    padding: 0 15px;
    .close-container {
      width: 80%;
    }
  }

  .modal-chat-content {
    height: 90%;
  }
  .modal-left-content {
    position: relative;
    .close-container {
      position: absolute;
      right: 0;
      display: flex;
    }
  }
  .panel-body.hide-body {
    display: none !important;
  }
  .panel-footer.hide-body {
    display: none !important;
  }
  .modal-right-content {
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    .close-container {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .modal-content {
    margin: 10px;
    width: 95%;
    flex-direction: row;
    .panel-body {
      min-height: 78%;
      max-height: 80%;
    }
  }
  .modal-left-content.flex6 {
    flex: 6;
  }
  .modal-left-content.flex0 {
    flex: 6;
  }
  .modal-content.minwidth {
    width: 65%;
  }
  .confirm-box {
    padding: 0 15px;
    .close-container {
      width: 80%;
    }
  }

  .modal-chat-content {
    height: 100%;
  }
  .modal-left-content {
    position: relative;
    .close-container {
      position: absolute;
      right: 0;
      display: none;
    }
  }
  .panel-body.hide-body {
    display: flex !important;
  }
  .panel-footer.hide-body {
    display: block !important;
  }
  .panel-footer {
    position: absolute !important;
    bottom: 0;
  }
  .modal-right-content {
    padding: 15px;
    .close-container {
      display: flex;
    }
  }
}
@media (min-width: 961px) {
  .modal-content {
    margin: 10px;
    width: 95%;
    flex-direction: row;
  }
  .modal-content.minwidth {
    width: 65%;
  }
  .confirm-box {
    padding: 0 15px;
    .close-container {
      width: 80%;
    }
  }

  .modal-chat-content {
    height: 100%;
  }
  .modal-left-content {
    position: relative;
    .close-container {
      position: absolute;
      right: 0;
      display: none;
    }
  }
  .modal-right-content {
    padding: 15px;
    .close-container {
      display: flex;
    }
  }
}
@media (min-width: 1025px) {
  .modal-content {
    margin: 10px;
    width: 95%;
    flex-direction: row;
  }
  .modal-content.minwidth {
    width: 65%;
  }
  .confirm-box {
    padding: 0 15px;
    .close-container {
      width: 80%;
    }
  }

  .modal-chat-content {
    height: 100%;
  }
  .modal-left-content {
    position: relative;
    .close-container {
      position: absolute;
      right: 0;
      display: none;
    }
  }
  .modal-right-content {
    padding: 15px;
    .close-container {
      display: flex;
    }
  }
}
@media (min-width: 1281px) {
  .modal-content {
    margin: 10px;
    width: 75%;
    height: 75%;
    flex-direction: row;
  }
  .modal-content.minwidth {
    width: 65%;
  }
  .confirm-box {
    padding: 0 15px;
    .close-container {
      width: 80%;
    }
  }

  .modal-chat-content {
    height: 100%;
  }
  .modal-left-content {
    position: relative;
    .close-container {
      position: absolute;
      right: 0;
      display: none;
    }
  }
  .modal-right-content {
    padding: 15px;
    .close-container {
      display: flex;
    }
  }
}
