// $primary_clr : #00BBFF;
// $Secondary_clr: #62acf1;
// $black:#000000;
// $white : #fff;
// $muted:#666;
// $light: #eeeeee;

:root {
  --primary_clr: #00bbff;
  --Secondary_clr: #62acf1;
  --black: #000000;
  --white: #fff;
  --muted: #666;
  --light: #eeeeee;
  --modal_primary: #31286b;
  --modal_primary_text: #302769;
  --modal_secondary_text: #212121;
  --modal_secondary_text: #a8a6a6;
  --modal_border-primary: #a8a6a6;
  --modal_sub_text: #bbb1f8;
  --modal_border: #c3bee8;
  --modal_secondary_background: #f4f2ff;
}
