// $primary_clr : #00BBFF;
// $Secondary_clr: #62acf1;
// $black:#000000;
// $white : #fff;
// $muted:#666;
// $light: #eeeeee;

:root {
    --primary_clr: #00BBFF;
    --Secondary_clr: #62acf1;
    --black:#000000;
    --white : #fff;
    --muted:#666;
    --light: #eeeeee;
  }