.cogniwidechat {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    background-color: #fff;
}

.cogniwidechat button:focus {
    outline: none;
    box-shadow: 0 0 0 0rem rgba(23, 162, 184, .0) !important;
}

.cogniwidechat img {
    max-width: 225px;
}

.cogniwidechat p {
    font-size: 15px;
    line-height: 20px;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cogniwidechat .chat_btn_container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    direction: ltr !important;
    z-index: 2147482999;
}

.cogniwidechat .cwc-left .cwc-borderbtn:hover,
.cogniwidechat .cwc-left .cwc-borderbtn:focus,
.cogniwidechat .panel-footer .cwc-borderbtn:hover,
.cogniwidechat .panel-footer .cwc-borderbtn:focus {
    color: #00bbff !important;
}
.cogniwidechat li.cwc-left .cwc-borderbtn, .cogniwidechat .cwc-borderbtn{
    border-radius: 10px !important;
    font-size: 14px;
    line-height: 19px !important;
    padding: 6px 25px;
    margin-bottom: 10px;
}
.cwc-borderbtn:first-child{
    margin-top: 10px;
}
.cogniwidechat .cwc-borderbtn{
    border: 0;
    background: transparent;
    cursor: pointer;
}
.cogniwidechat .cwc-left .cwc-borderbtn:hover {
    border-color: #00bbff !important;
}

.cogniwidechat .restart {
    opacity: .75;
}

.cogniwidechat .restart:hover {
    opacity: 1;
}

.cogniwidechat .close svg, .cogniwidechat .expand svg {
    stroke: #fff;
    fill: #fff;
}
.cogniwidechat .expand svg {
    opacity: 0.50;
}

.cogniwidechat .expand svg:hover{
 opacity: 0.75;
}
.cogniwidechat .expand {
    margin: 3px 5px 0 0;
}
.cogniwidechat .restart span {
    cursor: pointer;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 10px;
    right: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIW…55LnAu5oWzFfgHs274CTOkb8GsTPuSZ01CaRoZ8Rr6j1j+A8MFSuVPDYuhAAAAAElFTkSuQmCC);
}

.cogniwidechat .chat_box_container {
    z-index: 2147483000;
    /* overflow: hidden !important; */
    opacity: 0;
    transform: translateY(5%);
    position: fixed !important;
    bottom: 100px;
    right: 20px;
    max-height: 610px;
    /* min-height: 260px; */
    margin: 0px;
    /* height: 100%; */
    height: calc(100% - 90px - 20px);
    width: 377px;
    border-radius: 8px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16) !important;
    transition: transform 0.4s ease-in-out;
    transition-property: transform, opacity;
}

.cogniwidechat .chat_box_container.chat_box_active {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0%);
}

.cogniwidechat .bubble {
    border-radius: 1.3em;
    border: 1px solid transparent;
    padding: 5px 15px;
    transition: width 2s;
    word-break: break-word;
    line-height: 20px;
    background-color: #f8f8f8;
}
.cogniwidechat .adminchatlist{
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;
    justify-content: start;
}
.cogniwidechat .cwc-right .clientchat{
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;
    justify-content: start;
    flex-flow: row-reverse;
}
.cogniwidechat .cwc-right .bubble,
.cogniwidechat .bg-primary,
.cogniwidechat .cwc-borderbtn-primary {
    background-color: #00bbff!important;
}

.cogniwidechat .chat li.cwc-right .chat-body p,
.cogniwidechat .cwc-right .primary-font {
    color: #fff;
}

.cogniwidechat .avatar_wrapper {
    height: 28px;
    width: 28px;
}

.cogniwidechat .avatar {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    left: 0;
    top: 2px;
    background-size: 29px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.cogniwidechat .chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cogniwidechat .chat li {
    /* margin: 10px; */
    padding-bottom: 5px;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.cogniwidechat .chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.cogniwidechat .panel .slidedown .glyphicon,
.cogniwidechat .chat .glyphicon {
    margin-right: 5px;
}

.cogniwidechat li.cwc-left .cwc-borderbtn,
.cogniwidechat .cwc-borderbtn {
    border-radius: 25px;
    position: relative;
    line-height: 1.2;
    max-width: auto;
    max-width: max-content;
    max-width: -moz-max-content;
}

.cogniwidechat li.cwc-left .cwc-borderbtn::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #00bbff;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.cogniwidechat li.cwc-left .cwc-borderbtn:hover::before {
    background: #00bbff;
}

.cogniwidechat .panel-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 100px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 1s ease-in-out;
    background-color: #fff;
}


.cogniwidechat .panel-body ul.chat {
    max-width: 550px;
    margin: 0px auto 40px auto;
    padding: 20px 15px;
    position: relative;
    /* top: 40px; */
    /* z-index: -1; */
}

.cogniwidechat .panel-heading {
    position: fixed;
    top: -45px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 45px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cogniwidechat .panel-footer {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    min-height: 85px;
}

.cogniwidechat .composer {
    display: block;
}

.cogniwidechat .composer textarea {
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: auto;
    width: 100%;
    height: 50px;
    outline: none;
    font-weight: 400;
    color: #455a64;
    padding: 14px 110px 12px 16px;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #cfd8dc;
    position: relative;
    line-height: normal;
    font-size: 16px;
    transition: none 0s ease 0s;
    background: white;
    font-family: 'Roboto', sans-serif;
}

.cogniwidechat pre {
    background: transparent;
    position: absolute;
    cursor: pointer;
    width: 35px;
    z-index: 999;
    right: 70px;
    top: 0;
    padding: 0px;
    margin-right: 15px;
    margin-top: 0px;
    height: 100%;
    background-image: url('cogniwide-assets/send.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    opacity: 0.6;
    /* background: transparent; */
}
.cogniwidechat pre.send-active{
    opacity: 1;
    background-image: url('cogniwide-assets/active-send.png');
}

.cogniwidechat pre.mic-chat {
    position: absolute;
    cursor: pointer;
    width: 35px;
    z-index: 999;
    right: 40px;
    top: 0;
    margin-right: 15px;
    padding:0px;
    margin-top: 0px;
    height: 100%;
    background-image: url('cogniwide-assets/mic.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    opacity: 0.6;
    /* background: transparent; */
}

.cogniwidechat pre.calender-chat {
    position: absolute;
    cursor: pointer;
    width: 35px;
    z-index: 999;
    right: 10px;
    top: 0;
    margin-right: 15px;
    padding:0;
    margin-top: 0px;
    height: 100%;
    background-image: url('cogniwide-assets/calendar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    opacity: 0.6;
    /* background: transparent; */
}

.cogniwidechat .shaddow {
    box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.013);
}

.cogniwidechat .chat li.cwc-left {
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    padding: 0;
}

.cogniwidechat .chat li.cwc-left span.timeStamp {
    position: absolute;
    right: 10px;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #808080c9;
    padding-top: 4px;
}

.cogniwidechat .chat li.cwc-right {
    margin: 12px 0px 25px;
    display: block;
    position: relative;
    padding-bottom: 20px;
}

.cogniwidechat .cwc-right span.timeStamp {
    position: absolute;
    right: 0px;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #808080c9;
}

.cogniwidechat .datetimepicker td,
.cogniwidechat .datetimepicker th {
    font-size: 12px;
}

.datetimepicker .glyphicon.icon-arrow-left {
    background-image: url("cogniwide-assets/left-chevron.png");
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
    display: flex;
    width: 20px;
    height: 20px;
}

.datetimepicker .glyphicon.icon-arrow-right {
    background-image: url("cogniwide-assets/right-chevron.png");
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
    display: flex;
    width: 20px;
    height: 20px;
}
.cogniwidechat .chat-body .content ul{
    padding: 0 0 0 15px;
}
.cogniwidechat .suggestion_box {
    padding: 3px;
    /* overflow-x: auto; */
    min-height: 40px;
}

.cogniwidechat .form_datetime_2 {
    background: #00bbff !important;
}

.cogniwidechat .form_datetime_2 th,
.cogniwidechat .form_datetime_2 td,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td.old,
.cogniwidechat .form_datetime_2 .datetimepicker_2 table tr td.new {
    color: #fff !important;
}

.cogniwidechat .form_datetime_2 .datetimepicker table tr td.active.active,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span.active.active,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span.active:hover.active,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span.active.disabled.active,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span.active.disabled:hover.active,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span.active:active,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span.active:hover:active,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span.active.disabled:active,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span.active.disabled:hover:active {
    background-color: #000 !important;
    background-image: linear-gradient(top, #000, #0606);
    background-image: -webkit-linear-gradient(top, #000, #0606);
}

.cogniwidechat .form_datetime_2 .datetimepicker table tr td.day:hover,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span:hover,
.cogniwidechat .form_datetime_2 .datetimepicker table tr td span:hover,
.cogniwidechat .form_datetime_2 .datetimepicker thead tr:first-child th:hover {
    background: #000;
}

.cogniwidechat .form_datetime_2 .datetimepicker table,
.cogniwidechat .datetimepicker-inline {
    margin: 0 auto;
}

.cogniwidechat .form_datetime_2 .datetimepicker {
    margin-top: -5px;
    padding-bottom: 10px;
}



.cogniwidechat .suggestion_box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.cogniwidechat .suggestion_box::-webkit-scrollbar {
    background-color: #F5F5F5;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.cogniwidechat .suggestion_box::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 10px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 10px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}


/* .animated {
animation-duration: 1s;
animation-fill-mode: both;
-webkit-animation-duration: 1s;
-webkit-animation-fill-mode: both
animation-name: fadeInUp;
-webkit-animation-name: fadeInUp;
}

.animatedFadeInUp {
opacity: 0
}

.fadeInUp {
opacity: 0;
animation-name: fadeInUp;
-webkit-animation-name: fadeInUp;
} */

.cogniwidechat .cwc-right-time {
    float: right;
}

.cogniwidechat .carousel-control-next,
.cogniwidechat .carousel-control-prev {
    width: 7%;
}

.cogniwidechat .carousel-control-next-icon {
    background: #00bbff url("cogniwide-assets/right-chevron.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center center;
    border-radius: 50%;
}

.cogniwidechat .carousel-control-prev-icon {
    background: #00bbff url("cogniwide-assets/left-chevron.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center center;
    border-radius: 50%;
}

.cogniwidechat .quick-replies {
    flex-flow: wrap;
    justify-content: flex-end;
    display: flex;
    padding-right: 20px;
}
.cogniwidechat .quick-replies #quick_reply_btn{
    margin-right: 10px;
    padding: 6px 15px;
}
.cogniwidechat .quick-replies>* {
    margin: .2em 0;
}

/* .cogniwidechat .panel-footer .btn {
    padding-left: 1em!important;
} */

.cogniwidechat audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}


/* star rating */

.cogniwidechat .clearfix {
    clear: both;
}

.cogniwidechat .text-center {
    text-align: center;
}


/* Rating Star Widgets Style */

.cogniwidechat .rating-stars ul {
    list-style-type: none;
    padding: 0;
    margin: 0px auto auto auto;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.cogniwidechat .rating-stars ul>li.star {
    display: inline-block;
}


/* Idle State of the stars */

.cogniwidechat .rating-stars ul>li.star>i.fa {
    font-size: 1.5em;
    /* Change the size of the stars */
    color: #ccc;
    /* Color on idle state */
}


/* Hover state of the stars */

.cogniwidechat .rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
}


/* Selected state of the stars */

.cogniwidechat .rating-stars ul>li.star.selected>i.fa {
    color: #FF912C;
}

.cogniwidechat .time {
    width: 100px;
    margin-left: 40px!important;
}

.cogniwidechat .loading img {
    width: 50px;
}

.cogniwidechat .loading .bubble {
    padding: 5px 10px;
    line-height: 9px;
}

.cogniwidechat span.unreadCount {
    position: absolute;
    right: 0px;
    top: -8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: red;
    color: #fff;
    padding: 5px;
    text-align: center;
    display: none;
}

.cogniwidechat .banner {
    /* margin-top: 45px; */
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 15px;
    text-shadow: 2px 2px 2px #000;
    position: relative;
    /* z-index: -1; */
}
.cogniwidechat .banner h3{
    font-size: 25px;
    color: white;
    padding-right: 30px;
}

/* new style add */
.cogniwidechat .chat-logoheader{
    vertical-align: middle;
}
.cogniwidechat .btn-group-head a.restart {
    width: 20px;
    margin-right: 7px;
    margin-top: 3px !important;
   
}
.cogniwidechat .btn-group-head {
    margin-top: 5px;
    display: inline-flex;

}

.cogniwidechat .btn-group-head  .close{
    width: 21px;
    display: inline-block;
    vertical-align: sub;
    cursor: pointer;
    margin-right: 10px;
    opacity: 0.50;
    font-size: initial;
}
.cogniwidechat .btn-group-head  .close:hover{
    opacity: 0.75;
}
.cogniwidechat .react-calendar__navigation button {
    min-width: 30px !important;
    font-weight: 600;
}

.cogniwidechat .react-calendar__month-view__weekdays__weekday {
    padding: 0.4em;
}

.cogniwidechat .react-calendar__tile--active {
    background: #00bbff !important;
    color: white;
    border-radius: 50%;
}
.cogniwidechat .cwc-borderbtn {
    color: #00bbff;
    border: 1px solid #00bbff;
}

.cogniwidechat .react-calendar__tile {
    padding: 9px !important;
}

.cogniwidechat .react-calendar {
    width: 270px !important;
    border: 0 !important;
    border-radius: 8px;
    padding-bottom: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16) !important;
}

.cogniwidechat .react-calendar__tile:enabled:hover,
.cogniwidechat .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
    border-radius: 50%;
}
.cogniwidechat .react-calendar__navigation button:enabled:hover, .cogniwidechat .react-calendar__navigation button:enabled:focus {
    background-color: transparent !important;
}
.cogniwidechat audio {
    width: 250px;
    height: 35px;
    margin-top: 5px;
}
.cogniwidechat .qs-datepicker .qs-controls{
    padding-top: 8px !important;
    background: transparent !important;
}
.cogniwidechat .qs-square.qs-num{
    font-size: 14px !important;
}
.cogniwidechat .qs-datepicker .qs-square{
    padding: 10px !important;
    height: 2em !important;
    border-radius: 50%;
}
.cogniwidechat .qs-datepicker .qs-square.qs-day {
    font-weight: 500 !important;
    font-size: 15px;
    padding: 5px;
    color: #999;
}
.cogniwidechat .qs-datepicker-container{
    border: 0px !important;
    border-radius: 8px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16) !important;
    padding: 3px;
}
.cogniwidechat .qs-datepicker .qs-square.qs-active, .cogniwidechat .qs-datepicker .qs-square.qs-current  {
    background: #00bbff !important;
    border: 1px solid #00bbff;
    border-radius: 50%;
    padding: 15px !important;
    color: #fff;
}
.cogniwidechat .qs-datepicker .qs-arrow:after {
    content: "";
    border: .500em solid rgba(0,0,0,0);
}
.cogniwidechat .qs-datepicker .qs-arrow:hover {
    background: transparent !important;
}
.cogniwidechat .qs-datepicker .qs-arrow.qs-left:after {
    border-right-color: #00bbff !important;
    -webkit-transform: translate(65%,-65%);
    -ms-transform: translate(65%,-65%);
    transform: translate(65%,-65%) !important;
}
.cogniwidechat .qs-datepicker .qs-arrow.qs-right:after {
    border-left-color:  #00bbff !important;
    -webkit-transform: translate(-65%,-65%);
    -ms-transform: translate(-65%,-65%);
    transform: translate(-65%,-65%)!important;
}

.cogniwidechat .qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
   background: #e6e6e6 !important;
   border:1px solid #e6e6e6;
    border-radius: 50%;
    padding: 15px;
}

.cogniwidechat .panel-heading span {
    font-size: 18px;
    font-weight: 400 !important;
    letter-spacing: 1px;
    padding-left: 10px;
    color: #ffffff;
}

.cogniwidechat .feedback {
    padding-top: 80px;
    padding-left: 0;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}

.cogniwidechat ul.feedback-emoji {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
}

.cogniwidechat ul.feedback-emoji li {
    width: 25%;
    list-style-type: none;
    cursor: pointer;
}

.cogniwidechat ul.feedback-emoji li img {
    width: 60%;
}

/* .panel-body::-webkit-scrollbar {
    width: 6px;
}

.panel-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.panel-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00bbffc2;
    outline: 1px solid slategrey;
} */

.cogniwidechat li.star {
    margin-top: 5px;
}

.cogniwidechat li.star:before {
    font-size: 35px !important;
}
.cogniwidechat .chat-heading h5 {    
    font-size: 16px !important;
    font-weight: 400;
    color: #000;  
    margin: 0; 
}
.cogniwidechat .chat-heading{  
    border-bottom-right-radius: 7px;
     position: absolute;
     bottom: 45px;
     right: 160px;
     background: #fff;
     padding: 10px 20px;
     box-shadow: rgba(43, 45, 56, 0.15) 0px 0px 7px 0px !important;
     width: 300px;
     margin-left: 5px;
     -webkit-animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  
.cogniwidechat .power-by {
    text-align: center;
    padding: 10px 0;
   
}
.cogniwidechat .power-by span{
    font-size: 13px;
    color: #000000ab;
}
.cogniwidechat .power-by span a{
    color: #00b8fc;
}
/* .cogniwidechat .chat_btn_container .btn{
    padding: 0.375rem 0 !important;
} */
.cogniwidechat .chatbot-icon{
    cursor: pointer;
    position: relative;
}
  .cogniwidechat .diplayalign{
    display: flex;
    flex-flow: column;
}
.cogniwidechat div#composer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .cogniwidechat .chat-body ul {
    padding: 20px 15px;
}

/* Max Window style */
.cogniwidechat.full-screen .chat_box_container{
    width: 100%;
    right: 0;
    top: 45px;
    max-height: 90%;
    height: 100%;
  

}

.cogniwidechat.full-screen .panel-body ul.chat{
 max-width: 100%;
 /* display: inline-block; */
}
.cogniwidechat.full-screen .chat li.cwc-left{
    display: block;
}
.cogniwidechat.full-screen .chat li.cwc-left span.timeStamp{
    right: auto;
    left: 40px;
  }
  .cogniwidechat.full-screen .feedback{
      margin: 100px auto;
  }
  .cogniwidechat li.cwc-left .btn{
      margin-bottom: 10px;
  }
  @media(max-width:1110px) {
    /* .chat_box_container {
      max-height: 350px;
  }

  .panel-body {
      height: 250px;
  } */
}
@media(max-width:1366px){
    .cogniwidechat .feedback {
        padding-top: 45px;
    }
}
@media(max-width:1024px){
    .cogniwidechat .feedback {
        padding-top: 75px;
    }
}
@media(max-width: 470px) {
    .cogniwidechat .chat_box_container {
        width: 95%;
        right: 0;
        max-height: 80%;
        height: 100%;
        bottom: 93px;
        z-index: 9999999999999;
    }
    .cogniwidechat .chat-heading{
        width: 200px !important;
        bottom: 15px;
    right: 179px;
    }
   
    .cogniwidechat .feedback{
        margin: 80px auto;
    }
    .cogniwidechat .chat-heading h5{
        font-size: 15px;
    }
}