.cogniwidechat .react-calendar {
   width: 250px !important;
}
/* Attachment */
.cogniwidechat .upload-btn-wrapper {
   position: relative;
   overflow: hidden;
   display: inline-block;
 }
 
 .cogniwidechat .upload_btn {
  border: 1px solid #00bbff;
  color: #00bbff;;
  background-color: white;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  /* z-index: 1; */
  cursor: pointer !important;
 }
 
 .cogniwidechat .upload-btn-wrapper input[type=file] {
   font-size: 100px;
   position: absolute;
   left: 0;
   top: 0;
   opacity: 0;
 }
 .cogniwidechat .upload-icon{
  width: 20px;
  margin-right: 10px;
  vertical-align: bottom;
 }

 .cogniwidechat .right span.timeStamp {
  position: absolute;
  right: 0;
}
.cogniwidechat li.star:before {
  content: '★ ';
  font-size: 30px;
  color: #d3d3d3;
}
.cogniwidechat li.star.hover:before, .cogniwidechat li.star.selected:before  {
  color: #ffc107;
}