._cog_chat .cog_chat_form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 65px 65px 65px;
  grid-template-areas: 'name name' 'number number' 'expiration security';
  max-width: 400px;
  padding: 20px;
  color: #707070;

  .cog_chat-label {
    padding-bottom: 5px;
    font-size: 13px;
  }

  .cog_chat-input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
  }

  .cog_chat-select {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
  }

  .ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
  }

  .cog_chat-button {
    color: var(--white);
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    background: var(--primary_clr);
  }

  .cog_chat_field-container:first-of-type {
    grid-area: name;
  }

  .cog_chat_field-container:nth-of-type(2) {
    grid-area: number;
  }

  .cog_chat_field-container:nth-of-type(3) {
    grid-area: expiration;
  }

  .cog_chat_field-container:nth-of-type(4) {
    grid-area: security;
  }

  // .cog_chat_field-container input {
  .cog_chat_field-container .cog_chat_input-field {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .cog_chat_field-container {
    position: relative;
  }
}
