.slider {
    width: 480px;
    padding: 2rem;
    margin: 5rem auto;
    text-align: center;
    letter-spacing: 0.5px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
  }
  
  .range-label {
    font-weight: bold;
    font-size: 15px;
    display: block;
  }
  
  .progress-bar {
    width: 100%;
    height: 12px;
    position: relative;
    top: 1.6rem;
    border: none;
  }
  
  .progress-bar::-webkit-progress-bar {
    background-color: #cecece;
    border-radius: 1rem;
  }
  
  .progress-bar::-webkit-progress-value {
    background-color: #2e2b70;
    border-radius: 1rem;  
    /* animation: progressBar 1.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both; */
  }
  
  .range {
    -webkit-appearance: none;
    appearance: none;
    background-color: #d6d6d600;
    border-radius: 1rem;
    outline: none;
    width: 100%;
    height: 12px;
    /* margin-top: 1.5rem; */
    position: relative;
    top: 0.4rem;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #2e2b70;
    box-shadow: 0 0 0 12px #e9e9e9;
    position: relative;
    z-index: 100;
    cursor: pointer;
    /* animation: progressBar 1.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both; */
  }
  
  .range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #c0c0c000;
    height: 10px;
    border-radius: 1rem;
  }
  
  .range-tags {
    display: flex;
    justify-content: space-between;
  }
  
  .symbol {
    color: #cecece;
    font-weight: bold;
    padding: 0 2px;
    position: relative;
    top: -10px;
    z-index: -10;
  }
  
  .number {
    color: gray;
    font-weight: bold;
    font-weight: 10px;
  }
  
  .text {
    font-weight: bold;
    padding-top: 0.6rem;
    font-size: 14px;
    color: black;
  }
  
  .dynmic-blk {
    margin-top: 4rem;
    text-align: center;
  }
  
  .without-accident {
    display: block;
  }
  
  .zero-year {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.9rem;
    text-align: center;
    border: none;
    background-color: #ececec;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: black;
    font-weight: bold;
  }
  
  .btn {
    padding: 0.8rem 2rem;
    background-color: #2e2b70;
    color: white;
    border: none;
    border-radius: 0.2rem;
    margin-top: 1rem;
  }
  
  @keyframes progressBar {
    0% {
      left: 0;
      width: 0;
    }
    50% {
      left: 0;
      width: 100%;
    }
    100% {
      left: 100%;
      width: 0;
    }
  }