.cog_chat-welcome-form {
  width: 270px;
  box-sizing: border-box;
  margin: auto;
  padding: 20px;

  .cog_chat-form {
    width: 100%;
    .cog_chat-input-field {
      margin-bottom: 0.5rem;

      .cog_chat-label,
      .cog_chat-input {
        display: block;
        font-size: 12px;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        color: var(--muted);
      }

      .cog_chat-input {
        border-radius: 50px;
        outline: none;
        border: solid 1px rgb(201, 201, 201);
        background-color: white;
        padding: 5px 12px;
        height: 35px !important;
      }
    }

    .cog_chat-button {
      width: 100%;
      background-color: var(--modal_primary);
      color: white;
      padding: 6px 18px;
      border-radius: 50px;
      font-size: 12px;
      margin-top: 1rem;
    }
  }
}
