.cog_chat_coverages,
.cog_chat_addons {
  text-align: left;
  margin: 0.2rem auto;
  padding-bottom: 3rem;
  position: relative;
  .cog_chat_view-more-btn-cont {
    .cog_chat_view-more-btn {
      width: 88%;
      padding: 0.4rem 0.6rem;
      border: none;
      border-radius: 0.2rem;
      font-size: 10px;
      background-color: #6c757d;
      color: white;
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
.cog_chat_addons {
  border: none;
}
