
select {
    $bg-color: #f8f8f8;
    $text-color: #000;
    appearance: none; // using -prefix-free https://leaverou.github.io/prefixfree/
    background: {
      color: $bg-color;
    }
    border: {
      color: mix($bg-color, black, 90%);
      radius: .2em;
      style: solid;
      width: 1px;
      right-color: mix($bg-color, black, 60%);
      bottom-color: mix($bg-color, black, 60%);
    }
    color: $text-color;
    padding: .33em .5em;
    width: 200px;
    height: 40px;
  }
  
  // Removes default arrow for IE10+
  // IE 8/9 get dafault arrow which covers caret image
  // as long as caret image is small than and positioned
  // behind default arrow
  select::-ms-expand {
      display: none;
  }
  