.plans-container {
  // width: 100%;
  display: flex;
  position: relative;
  .plan {
    background-color: white;
    margin: 0.8rem;
    width: 240px;
    min-height: 500px;
    border: solid 0.3px #dedede;
    border-radius: 1.5rem;
    position: relative;
    padding-bottom: 3.5rem;
    overflow: hidden;
    transition: all 0.2s ease-out;
    .plan-name {
      display: block;
      font-size: 12px;
    }
    .recommend-plan {
      width: 100%;
      height: 10%;
      position: absolute;
      top: -6%;
      left: 50%;
      transform: translate(-50%);
    }
    .plan-header {
      border-bottom: solid 0.3px #dedede;
      padding: 0.5rem 1rem;
      text-align: center;
      background-color: #2e2b70;
      color: white;
      span {
        display: block;
      }
      .net-amt {
        text-decoration: line-through;
        font-size: 12px;
      }
      .cur-amt {
        font-weight: bold;
      }
      .ex-vat {
        font-size: 8px;
      }
    }
    .select-btn-container {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      .select-btn {
        width: 100%;
        border: none;
        border-radius: 0.2rem;
        background-color: #2e2b70;
        padding: 0.6rem 1rem;
        color: white;
        font-size: 12px;
      }
    }
  }

  .rec-plan {
    background-color: #2e2b7040;
  }

  .carousel-indicators {
    position: absolute;
    bottom: -5%;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(128, 128, 128, 0);
  }
}
